# AWS region to deploy resources in
aws_region      = "eu-north-1"

# VPC and Subnet will be discovered dynamically if left empty
vpc_id          = ""      # leave empty to use default VPC
subnet_id       = ""      # leave empty to select first default subnet

# Key pair for SSH access (optional if using SSM only)
key_name        = "mtani-ssh"  

# SSH access restricted to Jenkins master private IP
allow_ssh_cidrs = ["172.31.27.67/32"]  
